#random{
    color: red;
    background-color: green;
}

#essay{
    color: white;
    background-color: black;
}

.link{
    text-decoration: none;
    color: black;
    font-size:100px;
}

.heading{
    background-color: aqua;
}
.link{
    
}

